@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cera+Pro&display=swap");

body {
  margin: 0;
}

.header-g {
  background-color: rgb(255, 213, 3);
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "Open Sans semibold", sans-serif;
}

.header-g nav {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 6px;
  margin-right: auto;
}

.header-g nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-g nav ul li {
  display: inline;
  margin-right: 50px;
}

.header-g nav ul li:last-child {
  margin-right: 0;
}

.header-g nav ul li a {
  text-decoration: none;
  color: #262626;
  font-size: 15px;
  font-weight: 800;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
  margin-left: 30px;
}

.logo img {
  height: 60px;
  width: auto;
}

.icons {
  display: flex;
  align-items: center;
}

.icons img {
  height: 20px;
  margin-right: 55px;
  margin-left: -35px;
}

.apex {
  font-size: 12px;
  position: absolute;
  margin-bottom: 9px;
  margin-left: 100px;
}
/*Manuel*/
.container {
  position: absolute;
  height: fit-content;
  width: 100%;
  background-size: contain;
  background-position: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.container div {
  z-index: 1;
  align-items: flex-start;
}
.logo-banner {
  height: 50px;
  /*padding-left: 80px;
  padding-bottom: 10px;*/
  position: relative;
  top: 80px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.container p {
  top: 80px;
  position: relative;
  color: white;
  text-align: center;
  font-family: "Cera Pro", sans-serif;
}
.container p:nth-of-type(1) {
  font-size: 40px;
  max-width: 60%;
  margin: 0 auto;
}
.container p:nth-last-of-type(1) {
  padding: 10px;
  font-size: 19px;
  max-width: 55%;
  margin: 0 auto;
}
.bottone {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  font-family: "Cera Pro medium", sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
}
.bottone button:first-child:hover {
  background-color: black;
  color: white;
}
.bottone button:last-child:hover {
  background-color: black;
  color: white;
}

.banner-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
