body {
  margin: 0;
  font-family: Cera pro;
}
/*header bianco*/

.whiteheader {
  background-color: #F8F8F8;
  height: fit-content;
  padding: 8px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: cera pro;
  
}

.whiteheader img {
  height: 25px;
  align-items: center;
  margin-top: 10px;
}

.buttonwh {
  background-color: #abd9ff;
  border-radius: 4px;
  border: none;
  margin: 0;
  height: fit-content;
  margin-left: 30px;
  display: inline-block;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 0px 5px 10px;
}

.buttonwh span {
  left: 0px;
  font-family: cera pro medium;
  padding: 0px 10px;
  margin: 0;
  text-align: right;
  font-size: 12px;
}

.whiteheader button:hover {
  background-color: white;
  
}

.accountwh {
  display: flex;
  padding-right: 15px;
  align-items: center;
  gap: 10px;
  
}
.accountwh p{
  font-size: 8px;
  align-items: flex-end;
  font-family: Cera Pro Medium;
}

.accountwh img {
  height: 20px;
  align-self: center;
  margin-top: 0;
}

.whiteheader p{
  font-size: 12px;
}
.textwh{
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-right: 20px;
}

.wh-middle-text {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 102px;
  margin-top: 7px;
  gap: 12px;

}
.wh-middle-text a {
  text-decoration: none;
  color: #005AD2;
}
.wh-middle-text a:hover {
  text-decoration: underline;
}

/*header giallo*/

.header-g {
  background-color: rgb(255, 213, 2);
  padding: 10px 0px 5px 10px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Cera pro medium;
  z-index: 2;
}

.header-g nav {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 6px;
  margin-right: auto;
}

.header-g nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-g nav ul li {
  display: inline;
  margin-right: 45px;
}

.header-g nav ul li:last-child {
  margin-right: 0;
}

.header-g nav ul li a {
  text-decoration: none;
  color: #262626;
  font-size: 16px;
}

.header-g-logo {
  align-self: center;
  margin-right: 65px;
  margin-left: 20px;
}

.header-g-logo img {
  height: 55px;
  width: auto;
}

.header-g-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 45px;
}

.header-g-icons img {
  height: 20px;
}

.header-g-icons a {
  color: black;
  text-decoration: none;
  font-style: "Cera pro";
}

/*Banner DnD*/

.dnd-container {
  background-image: url(ROSPRSE/03-banner-dnd/banner-imageDD.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 55px;
}
.dnd-container div {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dnd-logo-banner {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 50px;
  position: relative;
  top: 75px;
}
.dnd-container p {
  top: 90px;
  position: relative;
  color: white;
  text-align: center;
  font-family: Cera Pro;
}
.dnd-container p:nth-of-type(1) {
  font-size: 40px;
  max-width: 60%;
  margin: 0 auto;
}
.dnd-container p:nth-last-of-type(1) {
  padding: 15px;
  font-size: 18px;
  max-width: 55%;
  margin: 0 auto;
  line-height: 1.5;
}
.dnd-bottone {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  font-family: Cera Pro medium;
  font-size: 16px;
  margin-top: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 25px;
}
.dnd-bottone button {
  background-color: white;
  border-width: 1px;
  border-style: solid;
}
.dnd-bottone button:first-child {
  margin-left: 40px;
}
.dnd-bottone button:first-child:hover {
  background-color: black;
  color: white;
}
.dnd-bottone button:last-child:hover {
  background-color: black;
  color: white;
}
.dnd-bottone svg {
  height: 25px;
  padding-left: 10px;
}

/* Cards piccole*/

.small-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: Cera pro;
  margin-top: 25px;
}

.small-card {
  display: flex;
  flex-direction: column;
  
}

.small-card img{
  height: 97px;
  margin: 0;
}

.small-card p {
  font-size: 14px;
}

.small-card a {
  display: flex;
  flex-direction: column;
  color: #262626;
  text-decoration: none;
  align-items: center;
}

.small-card a:hover {
  text-decoration: underline;
}

/* Preferiti della Settimana */

.favourite-of-week {
  margin: 10px 55px;
  font-family: "Cera Pro";
  padding: 20px;
}

.fow-articles article {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.fow-articles {
  width: 100%;
  display: flex;
  position: relative;
  gap: 10px;
  height: fit-content;
  justify-content: center;
}

.fow-articles a {
  color: black;
  text-decoration: none;
}

.fow-testo-card {
  text-align: center;
  font-size: 14px;
  margin: 15px 2px;
}

.fow-article-title {
  font-family: "Cera Pro Medium";
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

.fow-articles article img {
  width: 100%;
  object-fit: contain;
}

.fow-articles button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: "Cera Pro Medium";
  display: flex;
  align-items: center;
  gap: 5px;
}

.fow-articles form {
  display: flex;
  justify-content: center;
}

.fow-title p {
  font-size: 32px;
  margin-bottom: 15px;
}

.fow-article-button svg {
  height: 20px;
  align-self: center;
}

/*Cookies*/

.cookies-box {
  margin: 0 105px 40px;
}
.cookies {
  display: flex;
  background-color: #e5f2ff;
  font-family: Cera Pro;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
}
.image-cookie {
  border-radius: 100px;
  border: 4px solid white;
  width: 100px;
  height: 100px;
  margin: 5px;
}
.bisquits {
  height: 110px;
}
.cookies-testi {
  display: flex;
  flex-direction: column;
}
.cookies-testi p {
  margin-bottom: 5px;
  margin-left: 15px;
}
.cookies-testi p:first-child {
  font-family: Cera Pro Bold;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 0px;
}
.cookies-testi p:nth-child(2) {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 300;
}
.cookies-link a {
  gap: 25px;
  font-size: 14px;
  font-family: Cera Pro Medium;
  color: #288acb;
  margin-left: 15px;
}

.cookies-link a:hover {
  color: rgb(24, 112, 244);
}

/*videobanner*/

.video-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;
}
.vb-elements {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 110px;
  padding-top: 0;
}
.vb-caption {
  font-family: cera pro;
  font-size: 40px;
  max-width: 60%;
  margin: 0 0 10px 0;
}
.vb-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vb-buttons button {
  padding: 10px;
  border-radius: 5px;
  font-family: Cera Pro medium;
  font-size: 16px;
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 15px;
  background-color: black;
  color: white;
  border: solid black;
  display: flex;
  align-items: center;
  gap: 10px;
}
.vb-buttons button:hover {
  background-color: white;
  color: black;
  border: solid white;
}
.vb-buttons svg {
  height: 22px;
}
.vb-logo {
  position: absolute;
  width: 150px;
  left: 5px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 15px;
}

/*Tendenze*/

.tendenze {
  font-family: "Cera Pro";
  padding: 10px 70px 30px;
  background-color: #021c47;
}

.tendenze-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tendenze-articles article {
  padding: 5px;
  flex-direction: column;
}

.tendenze-articles {
  width: 100%;
  display: flex;
  position: relative;
  gap: 10px;
  height: fit-content;
  justify-content: center;
}

.tendenze-articles a {
  color: white;
  text-decoration: none;
}

.tendenze-testo-card {
  text-align: center;
  font-size: 14px;
  margin: 15px 2px;
}

.tendenze-article-title {
  font-family: Cera Pro Medium;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

.tendenze-articles article img {
  width: 100%;
  object-fit: contain;
}

.tendenze-articles button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: Cera Pro Medium;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tendenze-article-button {
  margin-top: 30px;
}

.tendenze-articles form {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.tendenze-title p {
  font-size: 32px;
  margin-bottom: 15px;
  color: white;
}

.tendenze-article-button svg {
  height: 20px;
  align-self: center;
}

/*piccolo banner*/

.small-banner {
  position:relative;
  background-image: url(risorse/11-piccolo-banner/Space-Offers-Home-202407-Hero-Short-Large.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.sb-header-content {
  display: flex;
  flex-direction:column;
  align-items: end;
  margin-right: 40px;
}

.sb-text {
  font-family: Cera Pro;
  font-size: 18px;
  padding:10px;
  margin-right: 60px;
  margin-top: 40px;
}

.sb-button {
  font-family: Cera Pro Medium ;
  font-size: 16px;
  padding:10px 15px;
  margin-bottom: 40px;
  margin-right: 68px;
  border-style: solid;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sb-button:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.sb-under img{
  width: 100%;
}

.sb-button svg {
  height: 25px;
}

/* Cards grandi */

.cg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 50px;
}

.cg-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: cera pro;
  align-items: center;
}

.cg-text p:first-child {
  font-family: cera pro bold;
  font-size: 30px;
  margin: 0;
}

.cg-text p:last-child {
  font-size: 16px;
  margin: 10;
  max-width: 60%;
  text-align: center;
}

.cg-images {
  display: flex;
  gap: 20px;
}

.cg-images img {
  height: 335px;
}

.cg-button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  background-color: #666666;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
}

.cg-container button:hover {
  background-color: #545454;
  text-decoration: underline;
}

.cg-button svg {
  height: 20px;
}

/* In evidenza */

.ie-main-box {
  background-color: #e4e5ec;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.in-evidenza-box p {
  font-family: cera pro;
  font-size: 32px;
  margin: 40px 80px 20px 80px;
}
.ie-boxes {
  display: flex;
  flex-direction: row;
  font-family: Cera Pro, sans-serif;
  width: 100vw;
  justify-content: center;
  gap: 20px;
}

.ie-pink {
  display: flex;
  flex-direction: column;
  background-color: #f7aecd;
  width: fit-content;
  align-items: center;
  width: 630px;
}
.insider-section-pink {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.insider-section-pink a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: cera pro medium;
  color: black;
}
.ie-insiders-img {
  margin-top: 20px;
  width: 100%;
  object-fit: cover;
}
.ie-gift,
.ie-build-img {
  width: 50%;
  object-fit: cover;
}
.head-insider-ie {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: cera pro medium;
}

.caption-insider-ie {
  margin-bottom: 20px;
}
.ie-arancio-azzurro {
  display: flex;
  flex-direction: column;
  width: 630px;
  gap: 20px;
}
.ie-orange {
  background-color: #f9984e;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.gift-section-orange {
  display: flex;
  flex-direction: column;
}
.gift-caption-ie{
  font-size: 14px;
  width: 85%;
}

.gift-head-ie {
  font-family: Cera pro medium;
  font-size: 24px;
  font-weight: bold;
  margin-top:0;
  margin-bottom: 20px;
}
.ie-boxes a svg{
  height: 20px;
  margin-left: 5px;
}
.ie-orange a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: cera pro medium;
}

.ie-azzurro {
  background-color: #c6e2f3;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
}
.build-section-ie {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.build-head-ie {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: cera pro medium;
}
.build-caption-ie {
  font-size: 14px;
}
.ie-azzurro a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-family: cera pro medium;
  display: flex;
  align-items: center;
}

/* Leggi Tutto */

.leggi-tutto {
  width: 100vw;
  background-color: #E4E5EC;
  font-family: "Cera Pro";
  justify-content: space-around;
}

.lt-container {
  padding: 30px 70px;
}

.lt-articles article {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.lt-articles {
  width: 100%;
  display: flex;
  position: relative;
  gap: 10px;
  height: fit-content;
  justify-content: center;
}

.lt-articles a {
  color: black;
  text-decoration: none;
}

.lt-testo-card {
  text-align: center;
  font-size: 14px;
  margin: 15px 2px;
}

.lt-article-title {
  font-family: "Cera Pro Medium";
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

.lt-articles article img {
  width: 18.75em;
  object-fit: contain;
}

.lt-articles button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: "Cera Pro Medium";
  display: flex;
  align-items: center;
  gap: 5px;
}

.lt-articles form {
  display: flex;
  justify-content: center;
}

.lt-title p {
  font-size: 2em;
  margin-bottom: 0.9375em;
}

.lt-article-button svg {
  height: 1.25em;
  align-self: center;
}

/* claim */

.claim {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: 1.875em 0px;
}

.claim-container {
  background-color: #F2F2F2;
  width: 90vw;
  height: fit-content;
  padding: 1.25em;
}

.claim-text {
  font-family: Cera pro;
  font-size: 0.85em;
}

.claim-text a{
  color: #1174BA;
  text-decoration: none;
}

.claim-text a:hover {
  text-decoration: underline;
}

/* footer*/

.upper-footer {
  display: flex;
  gap: 10px;
  width: 100vw;
  background-color: #201d48;
  flex-direction: column;
  justify-content: space-between;
}

.container-footer {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.chisiamo{
  max-width: 200px;
}

.footer {
  height: fit-content;
  display: flex;
  gap: 80px;
  margin-top:40px;
}

.footer img {
  width: 97px;
}

.footer button {
  background-color: #18152d;
  width: 85.54px;
  height: 38.98px;
  border: none;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: Cera Pro;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  color: white;
  font-family: Cera Pro bold;
}

.first-column-footer {
  margin-left: 50px;
  margin-right: 30px;
  display: flex;
}

.textfooter {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.textfooter a,
p {
  font-size: 16px;
}

.lower-footer {
  width: 100%;
  height: fit-content;
  background-color: #201d48;
  position: relative;
  display: flex;
  font-family: Cera Pro;
  color: white;
}

.lf-elements {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin: 60px;
  margin-bottom: 20px;
}

.social-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-footer img {
  width: 40px;
}

.iscriviti-footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.iscriviti-elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.iscriviti-footer p {
  font-family: cera pro medium;
}

.iscriviti-footer input {
  padding: 24px 35px 16px 20px;
  text-align: start;
  font-size: 14px;
  border: 0.5px solid #e0e0e0;
  color: #757575;
}

.iscriviti-footer button {
  margin: 0;
  padding: 10px 13px 10px 13px;
  border: 1px solid #e96f14;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #e96f14;
}

.iscriviti-footer button svg {
  height: 25px;
}

.seguicifooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-social-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.copyright-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.link-copyright-footer {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 30px;
  margin-bottom: 15px;
}

.link-copyright-footer a {
  color: white;
  text-decoration: none;
}

.diritti-footer p {
  font-size: 12px;
  line-height: 1.5;
}

/* <!--primohero--> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero1 {
  position: relative; 
  width: 100%;
  height: 814.71px; 
}

.hero1-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  color: rgb(0, 0, 0); 
  z-index: 1; 
}

.hero1-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 814.71px; 
  object-fit: cover; 
}


.titlehero1,
.paragrafo,
.link {
  margin: 10px 0; 
}

.titlehero1{
  font-size: 74px;
  font-family: "Cera Pro";
}


.paragrafo{
  font-size: 26px;
  font-family: "Cera Pro";
}

.link {
  font-size: 16px;
  font-family: "Cera Pro";
  text-decoration: none; 
  color: black; 
}

/* secondo hero */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero2 {
  position: relative; 
  width: 100%;
  height: 814.71px; 
}

.hero2-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  color: rgb(255, 255, 255); 
  z-index: 1; 
}

.hero2-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 814.71px; 
  object-fit: cover; 
}


.titlehero2,
.paragrafo,
.link {
  margin: 10px 0; 
}

.titlehero2{
  font-size: 74px;
  font-family: "Cera Pro";
}


.paragrafo{
  font-size: 26px;
  font-family: "Cera Pro";
}

.link {
  font-size: 16px;
  font-family: "Cera Pro";
  text-decoration: none; 
  color: black; 
}

/* hero 3 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero3 {
  display: flex; 
  align-items: center; 
  width: 100%; 
}

.hero3-content {
  flex: 1; 
}

.hero3-image {
  width: 818.78px; 
  height: 460.56px; 
}

.titlehero3{
  font-size: 41px;
  font-family: "Cera Pro";
}

.section1, .section2 {
  margin: 32px 8px 8px 0; 
}